  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;

    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  #option-1 {
    color: red;
  }
  #option-2 {
    color: green;
  }
  
  #option-3 {
    color: yellow;
  }
  
  #option-4 {
    color: blue;
  }
  